.lecture-box {
    padding: 32px;
    margin: 16px 0;
    background: rgba(255, 255, 255, 0.05);
}

.lecture-box:first-child {
    margin-top: 0;
}

.lecture-box-bar {
    display: grid;
    position: relative;
    align-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.lecture-box-title {
    font-size: 24px;
}

.lecture-box-bar-button {
    position: absolute;
    right: 0;
    justify-content: right;
}

.lecture-name {
    font-size: 36px;
    letter-spacing: 1px;
}

.lecture-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 0;
}

.lecture-controls {
    padding-top: 12px;
    grid-auto-flow: column;
    display: grid;
    grid-gap: 16px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.lecture-part {
    color: #ddd;
    font-size: 18px;
    margin: 4px 0;
}

.lecture-opinion-box textarea {
    width: calc(100% - 32px);
    height: 100px;
    resize: none;
}

.lecture-opinion-add {
    display: grid;
}

.lecture-opinion-add-controls {
    display: flex;
    grid-gap: 16px;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 16px;
}